<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.number_field :turno_id, class: "form-control", :value => @turno.id,  placeholder: "ID del turno que estás solicitando", type: :hidden %>
  </div>

  <div class="mb-3">
    <%= form.number_field :solicitante_id, id: :request_solicitante_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>


  
  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="mt-3">
    <div class="actions">
      <%= form.submit("Solicitar") %>
    </div>
  </div>
<% end %>
